@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Semi+Condensed:wght@400;500;600;700;800&display=swap");

@mixin loginBtnSpan {
  display: block;
  width: fit-content;
  padding-left: 30px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}

@mixin loginIcon {
  padding-left: 30px;
  position: relative;
  color: var(--fontColor);
  &::after {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 47%;
    transform: translateY(-50%);
  }
}
@mixin enrollButton {
  width: 80px;
  height: 40px;
  background-color: var(--enrollButton);
  border: none;
  color: var(--white);
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin badge {
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  padding: 3px 6px;
  height: fit-content;
}
body {

  background-color: var(--bgColor);
}
.darkMode {
  position: absolute;
  right: 20px;
  top: 0;
  z-index: 10;
  height: 70px;

}
.navBar {
  height: 70px;
  width: calc(100% - 70px);
  background-color: var(--navBg);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 70px;
  position: fixed;
  z-index: 20;
  h1 {
    font-family: "Sofia Sans Semi Condensed", sans-serif;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    color: var(--title);
  }
  &::after {
    content: "";
    display: block;
    position: absolute;
    left: -70px;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: var(--navBg);
    z-index: -1;
  }
}
.emptySpace {
  height: 70px;
}
.container {
  display: flex;
}
.sideBar {
  width: 200px;
  height: 100%;
  background-color: var(--sidebar);
  border-right: 1px solid #e1e2e4;
  position: fixed;
  z-index: 25;
  top: 0;
  left: 0;
  padding-top: 70px;
  padding-bottom: 100%;
  > ul {
    li {
      padding-left: 20px;
      height: 50px;
      line-height: 50px;
      width: 84%;
      border-radius: 0 15px 15px 0;
      cursor: pointer;
      &:hover {
        background-color: var(--sideHover);
      }
    }
  }
  .login {
    @include loginIcon;
    &::after {
      content: "";
      background: url("../public/img/user.png") no-repeat;
      background-size: contain;
    }
  }
  .list {
    @include loginIcon;
    &::after {
      content: "";
      background: url("../public/img/list.png") no-repeat;
      background-size: contain;
      width: 25px;
      height: 25px;
      left: -1px;
    }
  }
  .myList {
    @include loginIcon;
    &::after {
      content: "";
      background: url("../public/img/checklist.png") no-repeat;
      background-size: contain;
    }
  }
  .bookmark {
    @include loginIcon;
    &::after {
      content: "";
      background: url("../public/img/bookmark.png") no-repeat;
      background-size: contain;
    }
  }
}
.contents {
  width: 100%;
  margin-left: 201px;

  .searchBox {
    position: relative;
    z-index: 10;
    border-top: 1px solid #e1e2e4;
    border-bottom: 1px solid #e1e2e4;

    img{
      width: 20px;
      height: 20px;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
      cursor: pointer;
    }
    span{
      &:hover{
        &::before{
          display: block;
          content: "google번역기를 통해 한글을 번역해, 완성된 단어를 보여줍니다.";
          width: 200px;
          height: 31px;
          position: absolute;
          top: 125%;
          right: 20px;
          cursor: pointer;
          font-size: 14px;
          background-color: #fff;
          border: 1px solid #712cf9;
          border-radius: 12px;
          padding: 10px;
        }
      }
      
    }


    > div {
      display: block !important;
    }
    input {
      width: 100%;
      height: 40px;
      position: relative;
      border: none;
      outline: none;
      padding-left: 20px;
      background-color: var(--searchBox);
      color: var(--fontColor);
      font-size: 14px;
    }
    input::-webkit-input-placeholder {
      background-image: url("../public/img/loupe.png");
      background-size: contain;
      background-position: 1px center;
      background-repeat: no-repeat;
      text-indent: 20px;
      color: #a1a1a1;
    }
  }
  .enrollButton {
    margin-top: 20px;
  }
}

.mainList {
  padding: 20px;
  h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
    color: var(--fontColor);
  }
  .listWrap {
    grid-template-columns: repeat(6, 2fr);
    display: grid;
    column-gap: 20px;
    row-gap: 20px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .list {
    background-color: var(--listBox);
    width: 200px;
    height: 250px;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    img {
      width: 45px;
      border-radius: 8px;
    }
    .listTitle {
      font-weight: 500;
      padding: 10px 0 5px 0;
      color: var(--fontColor);
    }
    .inrText {
      display: -webkit-box;
      color: #adabab;
      font-size: 14px;
      white-space: normal;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all;
    }
  }
  .progress {
    p {
      font-size: 12px;
      color: #a1a1a1;
      line-height: 20px;
      img {
        width: 15px;
        border-radius: 0;
        margin-bottom: -3px;
        margin-right: 4px;
      }
    }
    span {
      display: block;
    }
    .progressBar {
      width: 100%;
      height: 5px;
      background-color: var(--bgColor);
      position: relative;
      span {
        background-color: #b08dee;
        width: 30%;
        height: 5px;
        border-radius: 0 3px 3px 0;
      }
    }
  }
}

.nickname {
  font-size: 13px;
  color: var(--fontColor);
  span {
    display: block;
    &:first-of-type{
      font-size: 30px;
    }
  }
}
.registrationDate {
  font-size: 13px;
  text-align: right;
  padding: 10px 0;
}
.sideList {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 30px);
  margin-top: 70px;
  background-color: var(--sideListBox);
  color: var(--fontColor);
  border-radius: 8px;
  padding: 15px 0;

  p {
    text-align: center;
  }
  > ul {
    margin-left: 30px;
    > li {
      line-height: 30px;
      position: relative;
      &:nth-of-type(1)::after {
        content: "";
        background: url("../public/img/crown.png") no-repeat;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 45%;
        left: -24px;
        background-size: contain;
        transform: translateY(-50%);
      }
      span {
        &:nth-of-type(2) {
          padding-left: 10px;
        }
      }
    }
  }
}
.loginButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  > div {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  button {
    width: 350px;
    height: 50px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    &:nth-of-type(1) {
      background-color: #ffeb3b;
      color: #3e2723;
      position: relative;
      span {
        @include loginBtnSpan;
        &::after {
          background: url(../public/img/kakao-talk.png) no-repeat;
          width: 25px;
          height: 25px;
          background-size: contain;
        }
      }
    }
    &:nth-of-type(2) {
      background-color: #00bf18;
      color: #fff;
      position: relative;
      span {
        @include loginBtnSpan;
        &::after {
          background: url(../public/img/naver.png) no-repeat;
          width: 25px;
          height: 25px;
          background-size: 85px;
          background-position-x: -10px;
          background-position-y: -9px;
        }
      }
    }
    &:nth-of-type(3) {
      background-color: #fff;
      position: relative;
      span {
        @include loginBtnSpan;
        &::after {
          background: url(../public/img/google.png) no-repeat;
          width: 25px;
          height: 25px;
          background-size: contain;
        }
      }
    }
  }
}
.nicknameBox {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  width: fit-content;
  label {
    color: #6e6e6e;
  }
  .checkInput {
    margin: 20px 0 50px 0;
    input {
      width: 250px;
      height: 35px;
      box-sizing: border-box;
      border: none;
    }
    >button {
      width: 100px;
      height: 35px;
      background-color: #eae7fb;
      border: none;
      cursor: pointer;
      color: #5b46ce;
      font-weight: 600;
      margin-left: 1px;
      &:hover{
        background:#9583fc;
        color: #fff;
      }
    }
  }

  > button {
    position: relative;
    border: none;
    background: #573af5;
    background: linear-gradient(20deg, #573af5 0%, #7b3fe5 100%);
    box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%), 7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
    color: #fff;
    overflow: hidden;
    &:hover {
      text-decoration: none;
      color: #fff;
      opacity: 0.7;
    }
    &:active {
      box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
        -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
    }
   
  }
}

.loginNickname {
  margin-bottom: 30px;
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
  }

  span {
    display: block;
    width: fit-content;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
  }
}

.enrollButton {
  @include enrollButton;
}

.registerWrap {
  margin-top: 30px;
  .registerWord {
    font-size: 28px;
    font-weight: 600;
    color: #4b31d6;
  }
  .depthWrap {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    p {
      margin-bottom: 10px;
    }
    input {
      width: 60px;
      height: 30px;
      border: 2px solid #9e9ef9a1;
      border-radius: 5px;
      text-align: center;
      text-indent: 13px;
    }
    select {
      width: 100%;
      border: 1px solid #d4d4ef;
      font-size: 15px;
      padding: 10px;
    }
    ul {
      li {
        position: relative;
        background-color: #ecebfd;
        margin-bottom: 6px;
        padding: 20px 10px;
        display: flex;
        align-items: center;
        &:last-of-type {
          margin-bottom: 0;
        }
        p {
          font-size: 20px;
          margin-bottom: 0;
          margin-left: 10px;
        }
        input {
          width: auto;
          text-align: left;
          font-size: 16px;
        }
      }
    }
    .variation {
      position: absolute;
      right: 30px;
      button {
        border: none;
        border-radius: 5px;
        width: 30px;
        height: 30px;
        font-size: 16px;
        color: #fff;
        margin-left: 5px;
        background: rgba(158, 158, 249, 0.631372549);
        box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
          7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
        outline: none;
      }
    }
  }
  .tabText {
    color: var(--title);
    text-align: left;
    font-size: 18px;
    margin: 20px 0;
  }
  .tabs {
    > ul {
      display: flex;
      li {
        background-color: var(--tabMenu);
        color: var(--white);
        font-size: 20px;
        border-radius: 5px 5px 0 0;
        margin-right: 1px;
        margin-bottom: 0;
        cursor: pointer;
        &:last-of-type.current {
          margin-left: -1px;
        }
      }
      li.current {
        font-weight: 600;
        margin-right: 0;
        background-color: #ecebfd;
        color: #1e1d5b;
        border: 2px solid;
        border-color: #472dd5 #472dd5 #ecebfd;
        border-bottom: none;
      }
    }
  }
  #tabContents {
    position: relative;
    > ul {
      background-color: var(--bgColor);
      border-left: 2px solid #472dd5;
      border-bottom: 2px solid #472dd5;
      border-right: 2px solid #472dd5;
    }
  }
}
.registerContent {
  width: calc(100% - 150px);
  margin: 0 auto;
  ul > li {
    background-color: #fff;
    padding: 30px;
    margin-top: 40px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid #f3f3f3;
    margin-bottom: 20px;

  }
  .content {
    display: flex;
    flex-direction: column;
    .contentBox {
      display: flex;
      justify-content: space-between;
    }
    .contentTitle {
      font-size: 24px;
      font-weight: 600;
      color: #1f1f1fe1;
      > p {
        display: inline-block;
        margin: 0 15px 10px 0;
      }
    }
    .buttonBox {
      button {
        border: 1px solid #e9e5fb;
        background-color: #e9e5fb;
        cursor: pointer;
        padding: 3px 5px;
        border-radius: 5px;
        color: #573af5;
        font-weight: 600;
        margin-left: 5px;
        box-sizing: border-box;
        &:hover {
          color: #fff;
          background-color: #573af5;
          border: 1px solid #573af5;
        }
      }
    }
    > p {
      color: #7f7f7f;
      letter-spacing: 0.7px;
      width: calc(100% - 50px);
      white-space: normal;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      word-break: break-all;
      display: -webkit-box;
      > span {
        display: inline-block;
        margin-right: 10px;
      }
      .typeButton {
        background-color: #212121;
        color: #ffd100;
        border: none;
        padding: 5px;
        border-radius: 4px;
        &:hover {
          background-color: #ffd100;
          color: #212121;
        }
      }
    }
  }
}
.componentsLike {
  .like {
    cursor: pointer;
  }
  .progress {
    p {
      color: #999;
      letter-spacing: 0.7px;
      margin-bottom: 5px;
      img {
        width: 20px;
        border-radius: 0;
        margin-bottom: -3px;
        margin-right: 4px;
      }
    }
    span {
      display: block;
    }
    .progressBar {
      width: 100%;
      height: 5px;
      background-color: var(--bgColor);
      position: relative;
      span {
        background-color: #b08dee;
        width: 30%;
        height: 5px;
        border-radius: 0 3px 3px 0;
      }
    }
  }
}
.likeWrap {
  margin-top: 10px;
}
.likeWrap > span {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #c4c1c1;
  font-size: 13px;
}
.justRegistered {
  width: 100%;
  background-color: rgba(222, 218, 248, 0.5803921569);
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #393939;
  p {
    text-align: center;
  }
  .enrollButton {
  }
}
.listView {
  margin: 30px;
  background-color: var(--listView);
  padding: 20px 5px;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  .nickname {
    width: 50px;
    margin: 0 20px;
    img {
      width: 50px;
    }
    span {
      text-align: center;
    }
  }
  ul {
    margin-top: 10px;
    &::after {
      content: "";
      display: block;
      clear: both;
    }
    li {
      float: left;
      width: fit-content;
      padding: 5px 10px;
      background-color: #fff;
      border-radius: 5px;
      margin-right: 35px;
      position: relative;
      &::after {
        content: "";
        display: block;
        width: 17px;
        height: 17px;
        background: url(../public/img/right-arrow.png) no-repeat;
        position: absolute;
        z-index: 10;
        background-size: contain;
        top: 50%;
        transform: translateY(-50%);
        right: -25px;
      }
      &:last-of-type {
        &::after {
          display: none;
        }
      }
    }
  }
}
.badge {
  @include badge;
  color: #00bf18;
  background-color: #cefacb;
  margin-right: 5px;
}
.countBadge {
  @include badge;
  color: #f82476;
  background-color: #f3b0ca;
}
.rankBage {
  @include badge;

  color: #ffeb3b;
  background-color: #f5ad21;
  margin-right: 5px;
  position: relative;
  padding-left: 15px;
  &::after {
    display: block;
    content: "";
    background: url(../public/img/rank.png) no-repeat;
    width: 20px;
    height: 20px;
    background-size: contain;
    position: absolute;
    left: 0;
    top: 0;
  }
}

#bookmark {
  .usedWords {
    margin: 30px 50px;
    .search {
      width: 100%;
      .searchInr {
        width: 61.5%;
        margin: 0 auto;
        display: flex;
        padding: 8px 0;
        height: 40px;
        > div {
          width: 100%;
          input {
            width: 100%;
            height: 100%;
            border: transparent;
            padding: 0 8px;
          }
        }
        button {
          width: 40px;
          background-color: var(--bookLine);
          color: #fff;
          border: none;
          border-radius: 3px;
          font-size: 20px;
        }
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        color: var(--fontColor);
        background-color: var(--bookmarkList);
        border-radius: 4px;
        margin-bottom: 12px;
        display: flex;
        align-items: center;
        padding: 8px;
        width: 60%;
        label {
          display: flex;
          align-items: center;
        }
        input {
          outline: none;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 2px solid var(--bookLine);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-check' stroke='%23fff'%3E%3Cpolyline points='20 6 9 17 4 12'/%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          background-size: 0;
          transition: 0.2s;
          margin-right: 8px;
          flex-shrink: 0;
          margin-top: 4px;
          appearance: none;
          &:hover {
            border-color: var(--bookHover);
            box-shadow: 0 0 0 3px var(--bookHoverShadow);
          }
          &:checked {
            background-size: 10px;
            border: 1px solid var(--bookChecked);
            background-color: var(--bookChecked);
            + span {
              color: rgba(255, 255, 255, 0.5);
              text-decoration: line-through rgba(255, 255, 255, 0.8);
            }
          }
        }
        .deleteBtn {
          margin-left: auto;
          display: block;
          width: 25px;
          height: 25px;
          background-repeat: no-repeat;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-trash-2'%3E%3Cpolyline points='3 6 5 6 21 6'/%3E%3Cpath d='M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2'/%3E%3Cline x1='10' y1='11' x2='10' y2='17'/%3E%3Cline x1='14' y1='11' x2='14' y2='17'/%3E%3C/svg%3E");
          background-size: 16px;
          background-position: center;
          cursor: pointer;
          background-color: var(--bookLine);
          border-radius: 50%;
        }
      }
    }
  }
}
h2.tag {
  font-size: 22px;
  text-align: center;
  margin: 40px 0 25px;
  font-weight: 600;
  color: #444;
}
.languageType {
  background-color: var(--white);
  margin: 20px;
  display: flex;
  position: relative;

  .language {
    width: 50%;
    li {
      display: flex;
      background-color: rgb(239 236 255 / 79%);
      height: 120px;
      cursor: pointer;
      border-bottom: 1px solid #edecee;
      margin-bottom: 3px;
      &:last-of-type {
        margin-bottom: 0;
      }
      .type {
        padding: 10px 20px;
        display: grid;
        align-content: stretch;

        span {
          font-size: 20px;
          font-weight: 600;
          color: #4a495c;
        }
        p {
          color: #674fda;
          font-weight: 600;
          font-size: 17px;
        }
        p.explain {
          font-size: 12px;
          color: #aaa1bf;
        }
      }
    }
    li.on {
      background-color: #fff;
      cursor: auto;
      &::before {
        content: "";
        display: block;
        height: 100%;
        width: 2px;
        background-color: #775dc2;
      }
      .type {
        p.explain {
          font-size: 12px;
          color: #c7c7cb;
        }
      }
    }
  }
  .tag {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #5b46ce;
    color: #fff;
  }
  .contents {
    width: 50%;
    height: 100%;
    background-color: #212121;
    position: absolute;
    right: 0;
    ul {
      height: 100%;
      li {
        color: #c8e596;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        span {
          &:first-of-type {
            color: #c8e596;
            margin-right: 3px;
          }
          color: #bd93e1;
        }
      }
    }
  }
  .codeBox {
    padding: 30px 25px;
    > div {
      display: grid;
      grid-template-columns: auto auto auto;
      text-align: left;
      > div {
        margin-right: 10px;
      }
    }
    .keywordBox {
      margin-bottom: 5px;
      span {
        &:first-of-type {
          color: #c8e596;
          margin-right: 3px;
        }
      }
    }
  }
  .copy {
    background-color: #ffd100;
    color: #212121;
    border: none;
    padding: 5px 7px;
    border-radius: 4px;
    font-weight: 600;
    &:hover {
      background-color: rgba(255, 254, 207, 0.891);
    }
  }
}
button {
  cursor: pointer;
}
.customButton {
  font-size: 16px;
  width: 100px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  margin-top: 50px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: linear-gradient(0deg, #5b46ce 100%, #573af5 0%);
  border: none;
  &:hover {
    background: linear-gradient(0deg, #573af5 0%, #5b46ce 100%);
  }
}
.plusButton {
  margin: 20px;
  padding: 7px 13px;
  border-radius: 4px;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
  outline: none;
  background: linear-gradient(0deg, #5b46ce 100%, #573af5 0%);
  border: none;
  color: #fff;
  font-size: 20px;
  box-sizing: border-box;
}
.enrollButton.enroll02 {
  margin: 0;
  border-radius: 4px;
  box-shadow: inset 2px 2px 2px 0px rgb(255 255 255 / 50%),
    7px 7px 20px 0px rgb(0 0 0 / 10%), 4px 4px 5px 0px rgb(0 0 0 / 10%);
  outline: none;
  background: linear-gradient(0deg, #5b46ce 100%, #573af5 0%);
  border: none;
  color: #fff;
}

.modalButton {
  background-color: #712cf9;
  color: #fff;
  border: none;
  width: 90px;
  height: 40px;
  border-radius: 6px;
}
