.fade.modal.show {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  z-index: 100;
}
.fade {
  transition: opacity 0.15s linear;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
}

.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
  border: 1.5px solid #573af5;
}

.modal-body {
  display: flex;
  position: relative;
  flex: 1 1 auto;
  padding: 20px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border-radius: 10px;
  outline: 0;
}

.modal-footer {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 190px;
  background-color: #fff;
  border-radius: 10px;
  top: 0;
  position: fixed;
  display: flex;
  box-sizing: border-box;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
  width: 100vw;
  height: 100vh;
  background-color: #00000096;
}

.fade {
  transition: opacity 0.15s linear;
}
